body {
  height: 100vh;
  margin: 0;
  font-family: fantasy;
  color:#69ffd6;
}
.container {
  height: 100%;
  background-image: url(../images/lfz-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 20pt;
}
header {
  margin: auto;
  font-size: 3em;
}
.gameRow {
  height: 80%;
}

/* Modal - covers screen */
.modal {
  position: fixed;
  /* z-index: 1;   MDN The stacking context https://mzl.la/37irXd5  */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);  /* Opacity 0.4 on scale 0-1 */
}

/* Modal Content */
.modal-content {
  background-color: skyblue;
  margin: 15% auto;
  width: 75%;
  height: 50%;
  font-size: 20pt;
  text-align: center;
  border: 2px solid teal;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-left: 2.5%;
}
.statbox {
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
  /* background-color: peachpuff; */
  background-color: rgba(0,0,0,0.8);  /* Opacity 0.4 on scale 0-1 */

}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
  height: 94%;
}

/* Position parent as relative so children can position absolute */
.cardbox {
  position: relative;
  height: 31%;
  margin: 1px;
}

/* Positioning: you need to position these siblings relative to their positioned parent (via position absolute) so they overlap/avoid overflow problem */
/* Background attributes: trim individual image as needed to maintain original shape ('cover') and trim all sides evenly ('center') */
.cardfront, .cardback {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardback {
  background-image: url(../images/lfz-card.jpg);
}
.css-logo {
  background-image: url(../images/css-logo.png);
}
.docker-logo {
  background-image: url(../images/docker-logo.jpg);
}
.gitHub-logo {
  background-image: url(../images/gitHub-logo.png);
}
.html-logo {
  background-image: url(../images/html-logo.png);
}
.js-logo {
  background-image: url(../images/js-logo.png);
}
.mysql-logo {
  background-image: url(../images/mysql-logo.jpg);
}
.node-logo {
  background-image: url(../images/node-logo.png);
}
.php-logo {
  background-image: url(../images/php-logo.jpeg);
}
.react-logo {
  background-image: url(../images/react-logo.png);
}

/* make sure 'hidden' is placed at the bottom of the sheet to not be overriden by cascading */
.hidden {
  display: none;
}

/*
*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  background-image: url(../images/lfz-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid white;
}
header{
  width: 100%;
  height: 20%;
  border: 2px solid rebeccapurple;
}
.container{
  border: 2px solid tomato;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;  */
  /* spaces out children evenly */
  /* align-items: center;  */
  /* aligns children vertically */
/* }
aside{
  height: 80%;
  width: 20%;
  background-color: tomato;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h4 {
  height: calc(100%/7);
  margin: 0;
}
main{
  width:70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}
.statbox{
  height: calc(100%/7);
  width: 100%;
  border: 3px solid teal;
  display: flex;
  flex-wrap: wrap;

}

.cardbox {
  height: 33%;
  width: 16.6%;

}
.cardfront{
  height: 100%;
  background-image: url("../images/lfz-card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid hotpink;
} */
